<div class="task-board-header">
  <h1>
    My Task Board
  </h1>
  <button mat-raised-button>
    <mat-icon>schedule</mat-icon>
    History
  </button>
</div>

<div class="group-lists-wrapper">
  <div class="new-list-wrapper">
    <div class="new-group-list-header">
      <ng-container *ngIf="!createListRequested; else create">
        <button mat-button
                (click)="onCreateListRequested()"
                class="new-group-list-button">
          <h2>Add new group list</h2>
          <mat-icon>add</mat-icon>
        </button>
      </ng-container>

      <ng-template #create>
        <app-group-list-form
          [form]="createListForm"
          (saved)="onCreateList()"
          (cancelled)="onCancelCreateList()"
        />
      </ng-template>
    </div>
  </div>

  <ng-container *ngIf="{
      groupLists: groupLists$ | async,
      cards: cards$ | async,
      priorities: priorities$ | async
    } as data">
    <ng-container *ngFor="let groupList of data.groupLists?.sort(compareGroupLists)">
      <app-group-list
        [groupList]="groupList"
        [cards]="(data.cards! | filter: { groupId: groupList.id }).sort(compareCards)"
        [priorities]="data.priorities!"
        [anotherLists]="(data.groupLists! | filter: excludeGroupListById(groupList.id)).sort(compareGroupLists)"
        [ngClass]="'group-list-wrapper'"
        (createCardRequested)="onCardCreateRequested($event)"
        (cardInListUpdated)="onCardUpdated($event)"
        (newCardsRequested)="onNextCardsForGroupListRequested($event)"
        (groupListDeleted)="onGroupListDeleted($event)"
        (groupListUpdated)="onGroupListUpdated($event)">
      </app-group-list>
    </ng-container>
  </ng-container>
</div>
